DB_HOST=localhost
DB_PORT=[PORT]
DB_USERNAME=root
DB_PASSWORD=password
DB_DATABASE=ids_ips_db

JWT_SECRET=d44********ef
JWT_EXPIRATION=1h

WAZUH_API_URL=https://[IP_ADDRESS]
WAZUH_API_USER=[wazuh-user]
WAZUH_API_PASSWORD=[PASSWORD]
WAZUH_INDEXER_USER=[wazuh-indexer-user]
WAZUH_INDEXER_PASSWORD=[PASSWORD]

# Set to 'false' to disable SSL verification for self-signed certificates (NOT recommended for production)
WAZUH_SSL_VERIFY=false

PORT=[PORT]

ALLOWED_ORIGINS=
GEMINI_API_KEY=
GEMINI_MODEL=gemini-1.5-flash
